.company-name{
	padding: 22px 10px 20px;
	border: 1px solid #ccc;
	margin-left: 8px;
}

.nav-holder{
	width: 100%;
	min-height: 80px;
}

.nav-left{
	width: 20%;
	position: absolute;
	line-height: 80px;
}

.nav-center{
	width: 60%;
	position: absolute;
	left: 20%;
}

.nav-center li{
	border: 1px solid #ccc;
	border-radius: 8px;
	margin: 5px;
}

.nav-right{
	width: 20%;
	position: absolute;
	right: 0;
	line-height: 60px;
}

.nav-right .dropdown-item{
	line-height: 32px;
}

.custom-label{
    line-height: 38px;
}

.custom-label-right{
    float: right;
    text-align: right;
}

.head-hold{
    padding: 8px;
    border:1px solid #ccc;
    text-align: center
}

.body-hold{
    min-height: 300px;
    border:1px solid #ccc;
    border-top:none;
    display: table;
    width: 100%;
    text-align: left;
    position: relative;
}

.body-hold>span.text-content{
    padding: 8px;
    display: table-cell;
    vertical-align: middle;
}

.body-hold>.button-group{
    position: absolute;
    bottom: 6px;
    left: 2%;
    width: 100%;
}

.body-hold>.button-group>#improve_btn{
    width: 96%;
}

.body-hold>.button-group>#save_btn,
.body-hold>.button-group>#cancel_btn{
    width: 48%;
}

.pointer{
    cursor: pointer;
}

.input-files{
	min-height: 100px;
    display: table;
    width: 100%;
    text-align: left;
    position: relative;
}

.input-files>.text-content{
    padding: 8px;
    display: table-cell;
    vertical-align: middle;
    border:1px solid #ccc;
}

.input-files-label{
	line-height: 95px;
}

.input-browse{
	line-height: 95px;
}

.edit-group,
.delete-group{
    cursor: pointer;
}

#group-table_filter,
#translate-table_filter{
    display: none;
}

#group-table .languages-field{
    position: relative;
}
#group-table .languages-field .group-language-plus{
    position: absolute;
    right: 8px;
    top: 15px;
    cursor: pointer;
    color: #3fce08;
}

input[type=checkbox]{
    cursor: pointer;
}
.action-field>span{
    cursor: pointer;
}
.multiselect-container>li>a>label{
    padding: 3px;
}
.dropdown-menu{
    min-width: 18rem;
}
.multiselect-group b{
    color: #666;
    text-decoration: underline;
    font-style: italic;
}

.languages-field .language-name{
    width: 96%;
}

.download-btn{
    float: right;
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}

.export-list{
    float:right;
    padding-right: 35px;
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
}

.link-list{
    color: #007bff;
    text-align: center;
}

.link-list a{
    margin: 0 10px;
}

.link-list a.active{
    font-weight: bold;
}

#review-page .edit-translate,
#review-page .delete-translate{
    color: #007bff;
}
